# .NET build results
bin/
obj/
[Bb]uild/
[Ll]og/
TestResults/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# ASP.NET
wwwroot/lib/
appsettings.*.json

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec

# Others
*.DS_Store
*.vs/
*.swp
*.tmp
*.bak
*.log

/API/reactivities.db
/API/reactivities.db-shm
/API/reactivities.db-wal
/API/reactivities.db
/API/Database.db
/API/Database.db-shm
/API/Database.db-wal
